<header class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row mb-auto">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item">
                <a class="nav-link @ViewBag.Home" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.List" href="/Person/List">List of all entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.SortedList" href="/Person/SortedList">Sorted list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.Add" href="/Person/Add">Add a new person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.Email" href="/Person/Email">Search by email</a>
            </li>
        </ul>
    </div>
</header>