@model List<PhoneBook.Models.PersonModel>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="h3 text-left">@ViewBag.Subtitle</p>
                <div class="clearfix">
                </div>
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-start">
                        @for (int i = 1; i <= (Model.Count / 2); i++)
                        {
                            <li class="page-item"><a class="page-link" href="/Person/List/?page=@i">@i</a></li>
                        }
                    </ul>
                </nav>

                <table class="table table-hover table-bordered table-responsive-sm">
                    <thead class="bg-warning">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th colspan="2">Change entry</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model)
                        {
                            <tr>
                                <td>@string.Format("{0:0000}", person.ID)</td>
                                <td>@person.FirstName</td>
                                <td>@person.LastName</td>
                                <td>@person.Phone</td>
                                <td>@person.Email</td>
                                <td>@person.Created</td>
                                <td>@person.Updated</td>
                                <td><a class="btn btn-warning" href="/Person/Edit/?id=@person.ID">Edit</a></td>
                                <td><a class="btn btn-danger" href="/Person/Remove/?id=@person.ID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>